@-ms-viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}
@viewport {
  zoom: 1.0;
  width: extend-to-zoom;
}

/* basic */
.shrink {
  margin: 0 !important;
  height: 0 !important;
}
.hide {
  display: none !important;
}
body {
  font-family: "Andada", sans-serif;
}

/* Effect */
.dropdown:target:hover {
  outline: none;
}
.dropdown:target:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}
.dropdown:target:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* header */
#title, #subtitle {
  text-align: center;
}
#title {
  font-family: "Andada", sans-serif;
  color: #555555;
}
#title a {
  color: inherit;
}
#subtitle {
  font-family: "Petit Formal Script", cursive;
  font-weight: bolder;
}

/* body */
#sidebar-left .nav > li,
#sidebar-right .nav > li {
  word-break: break-word;
}
#sidebar-left .nav > li > a > img,
#sidebar-right .nav > li > a > img {
  max-width: 100%;
}
#sidebar-left .nav-header,
#sidebar-right .nav-header {
  font-size: 1.1em;
  font-family: "Quattrocento", serif;
  font-variant: small-caps;
  text-transform: capitalize;
}
#sidebar-left .nav > li > a:hover,
#sidebar-left .nav > li > a:focus,
#sidebar-left .nav-list > .active > a,
#sidebar-left .nav-list > .active > a:hover,
#sidebar-left .nav-list > .active > a:focus {
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3)
}
#sidebar-left #license a {
  box-shadow: none;
  background: none;
}
#sidebar-left .icon-chevron-right {
  float: right;
  margin-top: 3px;
  margin-right: -5px;
  opacity: .25;
}
#sidebar-left .active .icon-chevron-right {
  opacity: 1;
}
#sidebar-left .pager {
  margin: 0;
}
#sidebar-left .pager li a {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#sidebar-right > .well {
  padding-left: 0;
  padding-right: 0;
}
#sidebar-right > .well li {
  word-break: break-word;
}
#share-list > a {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
#share-list > a .caret {
  border-top-color: #999999;
  border-bottom-color: #999999;
}
#feed:hover img {
  content: url(../img/feed.png);
}

#main .well {
  background: none;
}
#main .progress {
  margin-bottom: 0;
}
#main .progress .bar {
  max-width: 100%;
}
#main .progress .icon-random {
  float: right;
  margin-top: 3px;
  margin-right: 3px;
  opacity: .45;
  background-image: url(../img/glyphicons-halflings-white.png);
}
#content {
  min-height: 200px;
  padding-left: 1em;
  padding-right: 0;
  margin-top: -20px;
}
#content .contents .title > a {
  font-size: 1rem;
  border: none;
  border-radius: 0;
}
#content header .title {
  font-family: "Andada", sans-serif;
}
#content header .date {
  font-style: oblique;
  font-size: smaller;
  margin: 0 0 1em 0;
}
#content header .date > * {
  margin: 0;
}
#content article {
  padding: 0.5em;
  font-family: "Andada", serif;
  font-size: 1rem;
}
#content article a {
  word-break: break-all;
}
#content article h2,
#content article h3,
#content article h4,
#content article h5,
#content article h6 {
  font-family: "Andada", serif;
}
#content article code {
  padding: 1px 4px;
  vertical-align: text-bottom;
}

#main .theme-author {
  display: none;
}
#footer .theme-author {
  display: block;
}

#main {
  margin-left: 0;
  margin-right: 2.127659574468085%;
  *margin-right: 2.127659574468085%;
}
@media (min-width: 1200px) {
  #main {
    margin-left: 0;
    margin-right: 2.564102564102564%;
    *margin-right: 2.5109110747408616%;
  }
}
@media (max-width: 979px) and (min-width: 768px) {
  #main {
    margin-left: 0;
    margin-right: 2.7624309392265194%;
    *margin-right: 2.7624309392265194%;
  }
}

@media (min-width: 768px) {
  #sidebar-left,
  #sidebar-right {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
    top: 1em;
  }
  #sidebar-left {
    border-right: 1px solid #eeeeee;
  }
  #sidebar-right {
    border-left: 1px solid #eeeeee;
  }
  #sidebar-left .pager li a {
    margin-bottom: 2px;
  }
  #content {
    min-height: 400px;
  }
  #comments {
    padding: 0.5em;
  }
  #main .theme-author {
    display: block;
  }
  #footer .theme-author {
    display: none;
  }
}
@media (max-width: 767px) {
  #main {
    margin-right: 0;
    margin-top: 1em;
    border-top: 1px solid #eeeeee;
  }
  #sidebar-right {
    border-top: 1px solid #eeeeee;
  }
}

@media print, projection {
  #sidebar-left, #sidebar-right, #comments, #main .comments, .theme-author {
    display: none !important;
  }
  img {
    page-break-inside: avoid;
  }
  h1, h2, h3 {
    page-break-after: avoid;
  }
  a[href]::after {
    content: "";
  }
  #header {
    text-align: center;
  }
  #main {
    width: 100%;
    border: none;
  }
  #content article a:not([href^="http"])::after,
  #content article a:not([href^="#"])::after,
  #content article a:not([href^="ftp"])::after {
    content: "<" attr(href) ">";
    word-break: break-all;
  }
  #content article pre {
    white-space: pre-wrap;
    word-break: break-all;
  }
}
